body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: disc;
    font-weight: bold;
    color: white;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    list-style: disc;
    color: white;
}

ol {
  padding: 20px;
}

ul {
  padding: 20px;
}

ol li {
  color: white;
  padding: 5px;
  margin-left: 35px;
}

ul li {
  color: white;
  margin: 5px;
}

ul li::before {
  color: white;
  list-style: disc;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: white;
}

h2 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: white;
}

h3 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: white;
}

p {
    font-size: 1.0em;
    line-height: 1.4em;
    color: white;
}

h4 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: white;
}

h5 {
    font-size: 1.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: white;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    color: white;
}

ul.posts li {
    list-style: disc;
    color: white;
}

.post-body img { width:400px; height:auto; }

.image-cropper {
width: 122px;
height: 220px;
position: relative;
overflow: hidden;
border-radius: 69%;
margin: 0px 40px;
float: left;
}
.profile-pic {
  display: inline;
  margin-bottom: 5%
  height: 100%;
  width: auto; 
}

pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    color: white;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

#menu-outer {
	height: 84px;
}

.table {
	display: table;   /* Allow the centering to work */
	width: 100%;
	height: 50%;
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: disc;
	padding-top: 10px;
	font-weight: bold;
	}
ul#horizontal-list li {
	display: inline;
}
