<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body style="background-color:#101010;">
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/papers">Annotated Papers</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		
		{{ content }}
			
		</div><!-- /.container -->
		<footer>
    		<ul>
			<li><a href="https://twitter.com/mayur__22"><img src="{{site.url}}/assets/images/svgs/twitter.png" alt="twitter"></a></li>
			<li><a href="https://www.linkedin.com/in/mayur-jain-ds/"><img src="{{site.url}}/assets/images/svgs/linkedin.png" alt="linkedin"></a></li>
			<li><a href="mailto:1942at@gmail.com"><img src="{{site.url}}/assets/images/svgs/email.png" alt="email"></a></li>
			<li><a href="https://github.com/Mayurji"><img src="{{site.url}}/assets/images/svgs/github.png" alt="Github"></a></li>
			
        		
			</ul>
		</footer>
	</body>
</html>
