<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<!-- link to main stylesheet -->
		<script data-ad-client="ca-pub-2640060468368747" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<meta name="google-site-verification" content="Qml5-eorENd39vL-Z5OR_K_4Bj_tpO87ApQX8cGYQkc" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
		
	</head>
	<body style="background-color:#f7f7f7;" style="width:90%"> <!-- #d9d6d6 -->
		
		
		<nav>
		   <!-- 
		   <div id="logo"> 
				<img src="{{site.url}}/assets/images/logo/math_compute.png"> 
			</div>
			-->
		    <div class="openMenu"><i class="fa fa-bars"></i></div>
		    <ul class="mainMenu">
			<li><a href="/">📝 Blogs</a> </li>
			<li><a href="/machine-learning">📊 Machine Learning</a></li>
			<li><a href="/deep-learning">🧠 Deep Learning</a></li>
			<li><a href="/data-structure-algorithms">🤔 DSA</a></li>
			<li><a href="/code">✍ Code</a></li>
			<li><a href="/about">🙂 About Me</a></li>
			<div class="closeMenu"><i class="fa fa-times"></i></div>
		    </ul>
		</nav>
		
		<div class="container" style="width:90%";>
		{{ content }}
		</div><!-- /.container -->
		
	<footer style="width:90%";>
		<!--<div class="side-block" style="display:inline-block;"-->
			<div style="width: 50%; height: 50%; background-color: #f7f7f7; float:left;">
				<a href="https://www.linkedin.com/in/mayur-mle/" target="_blank" class="social-icon"><img src="{{site.url}}/assets/images/svgs/linkedin.png" alt="linkedin"></a>
				<a href="https://github.com/Mayurji" target="_blank" class="social-icon"><img src="{{site.url}}/assets/images/svgs/github.png" alt="Github"></a>
				<a href="https://mayur-ds.medium.com/" target="_blank" class="social-icon"><img src="{{site.url}}/assets/images/svgs/medium.png" alt="Medium"></a>
				<a href="https://twitter.com/mayur__22" target="_blank" class="social-icon"><img src="{{site.url}}/assets/images/svgs/twitter.png" alt="twitter"></a>
				<a href="mailto:1942at@gmail.com" target="_blank" class="social-icon"><img src="{{site.url}}/assets/images/svgs/email.png" alt="email"></a>
				<a href="https://www.goodreads.com/user/show/117102851-mayur" target="_blank" class="social-icon"><img src="{{site.url}}/assets/images/svgs/goodreads.png" alt="goodreads"></a>
				<a href="https://ko-fi.com/mayurjain" target="_blank" class="social-icon"><img src="{{site.url}}/assets/images/svgs/ko-fi.png" alt="sponsor"></a>
			</div>
			<div style="width: 50%; height: 50%; background-color: #f7f7f7; float:right;">
						<!-- Begin Mailchimp Signup Form -->
			<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
			<style type="text/css">
				#mc_embed_signup{background:#f7f7f7; clear:left; font:14px Helvetica,Arial,sans-serif; }
				/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
				We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
			</style>
			<div id="mc_embed_signup">
			<form action="https://github.us5.list-manage.com/subscribe/post?u=d3af7dd0cebe1843933cf3d93&amp;id=9b44edd480" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">
				<h2>Subscribe</h2>
			<!--<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>-->
			<div class="mc-field-group">
				<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
			</label>
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d3af7dd0cebe1843933cf3d93_9b44edd480" tabindex="-1" value=""></div>
				<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</div>
			</form>
			</div>
			<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
			<!--End mc_embed_signup-->
			<br>
			<br>
		</div>
		
	</footer>		
		
		{% include head.html %}
		<script src="/css/app.js"></script>
	</body>

<div>
	<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/d3af7dd0cebe1843933cf3d93/7b4df68ef9373d358259cc174.js");</script>
</div>
</html>
