<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<!-- link to main stylesheet -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<meta name="google-site-verification" content="Qml5-eorENd39vL-Z5OR_K_4Bj_tpO87ApQX8cGYQkc" />
	</head>
	<body style="background-color:#17202a;" style="width:90%"> <!-- #d9d6d6 -->
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<!--<li><a href="/papers">Papers</a></li>-->
        		<li><a href="/blog">Blogs</a></li>
			<li><a href="/machine-learning">Machine Learning</a></li>
			<li><a href="/deep-learning">Deep Learning</a></li>
			<li><a href="/data-structure-algorithms">DSA</a></li>
			
    		</ul>
		</nav>
		<div class="container" style="width:90%";>
    		
		{{ content }}
			
		</div><!-- /.container -->
		<!--
		<footer style="width:90%";>
		
		<h3>Projects</h3>
		<div id="menu-outer">
		  <div class="table">
		   <div class="th">
		    <ul id="horizontal-list">
		       <p>
		      <li><a href="https://github.com/Mayurji/PyTorch-DL">Deep Learning Using Pytorch</a></li>
		      <li><a href="https://github.com/Mayurji/Computer-Vision">Computer Vision</a></li>
		      <li><a href="https://github.com/Mayurji/CAM-Dropping-Neurons">CAM Dropping Neurons</a></li>
		      <li><a href="https://github.com/Mayurji/N2D-Pytorch">N2D Clustering</a></li>
		      <li><a href="https://github.com/Mayurji/Deep-Learning-Papers">Deep Learning Papers</a></li>
		      
		       </p>
		       <p>
			 <li><a href="https://github.com/Mayurji/Pytorch-Lightning-Face-Recognition">Face Recognition Using Pytorch Lightning</a></li>
		       </p>
		    </ul>
		   </div>
		  </div>
		</div> 
    		<a href="https://www.linkedin.com/in/mayur-jain-ds/"><img src="{{site.url}}/assets/images/svgs/linkedin.png" alt="linkedin"></a>
		<a href="https://github.com/Mayurji"><img src="{{site.url}}/assets/images/svgs/github.png" alt="Github"></a>
		<a href="https://mayur-ds.medium.com/"><img src="{{site.url}}/assets/images/svgs/medium.png" alt="Medium"></a>
		<a href="https://twitter.com/mayur__22"><img src="{{site.url}}/assets/images/svgs/twitter.png" alt="twitter"></a>
		<a href="mailto:1942at@gmail.com"><img src="{{site.url}}/assets/images/svgs/email.png" alt="email"></a>
		<a href="https://www.goodreads.com/user/show/117102851-mayur"><img src="{{site.url}}/assets/images/svgs/goodreads.png" alt="goodreads"></a>
		<a href="https://ko-fi.com/mayurjain"><img src="{{site.url}}/assets/images/svgs/ko-fi.png" alt="sponsor"></a>
		</footer>		
		-->
		<div class="sidebar">
		<center>
		<a href="https://www.linkedin.com/in/mayur-jain-ds/"><img src="{{site.url}}/assets/images/svgs/linkedin.png" alt="linkedin"></a>
		<a href="https://github.com/Mayurji"><img src="{{site.url}}/assets/images/svgs/github.png" alt="Github"></a>
		<a href="https://mayur-ds.medium.com/"><img src="{{site.url}}/assets/images/svgs/medium.png" alt="Medium"></a>
		<a href="https://twitter.com/mayur__22"><img src="{{site.url}}/assets/images/svgs/twitter.png" alt="twitter"></a>
		<a href="mailto:1942at@gmail.com"><img src="{{site.url}}/assets/images/svgs/email.png" alt="email"></a>
		<a href="https://www.goodreads.com/user/show/117102851-mayur"><img src="{{site.url}}/assets/images/svgs/goodreads.png" alt="goodreads"></a>
		<a href="https://ko-fi.com/mayurjain"><img src="{{site.url}}/assets/images/svgs/ko-fi.png" alt="sponsor"></a>	
		</center>
		</div>
		{% include head.html %}
	</body>
</html>
